:root{
	font-size: 25px;
}	
body{
	margin:0vw;
 
	
}
.header{
	display: flex;
	margin:0vw;
	padding:0vw;
	background-color: rgba(25,25,25,25);
  position: fixed;
   width: 100vw;
 }
 
    ul{
    	display: flex;
    	height: 10vh;
    	justify-content:space-around;
    	list-style-type: none;
     
    	}
   li a{
 	display: flex;
	font-family:serif;
             text-decoration:none;
              color: white;
              font-size: 1.2rem;
              width: 10vw;
          }
         
    
          @media only screen  and  (max-width: 350px){
        	.header{
        	          display: flex;

        	}
        	ul{
        		display: flex;
        		flex-direction: column;
        		justify-content: space-around;
        		height: 30vh;
    	       }
    	      li a{
    	      	
    	      	font-size:0.5rem;
    	      
    	      }
        }

        @media only screen  and  (min-width:350px) and (max-width: 865px){
        	.header{
        	          display: flex;

        	}
        	ul{
        		display: flex;
        		justify-content: space-between;
        		width:60vw;
        		
    	       }
    	      li a{
    	      	
    	      	font-size:0.6rem;
    	      }
    	     
        }
       

       .container{
        display: flex;
        align-content: center;
        background-image: url(city.jpg);
        background-repeat: no-repeat;;
        background-size: cover;
          width: 100vw;
        height: 100vh; 

         }
    
     .info{
      display: flex;
        margin:20vw;
      padding:0vw;
      margin-left: 1.8vw;
      list-style-type:none;
      color:rgb(255,255,255);
       font-size:2.6rem;
      font-family:italic;
         text-decoration: none;
         font-weight:bold;
         text-transform: capitalize;
     }

 .footer1{
  display: flex;
 justify-content:center;
  margin: 0vw;
  background-color:rgb(40,40,40);
  height:70vh;
  width: 100vw;

}

.social-site{
padding:5vw;
}
img:hover{
	 box-shadow: 1px 5px 20px 3px rgb(255,255,250);
	
}


 .image{
          display: flex;
          margin-top:4vw;
          margin-left:9vw;
         padding:5vw;
        width:8vw;
        height:6vh;
        background-image: url(sunilkr.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 1px 90px 0px rgb(20,20,50);
        opacity: 0.6;
       }
       .image:hover{
         opacity: 1;
           box-shadow: 0px 1px 60px 0px rgb(255,205,205);
       }
  
    .copy{
        text-align: center;
        color: rgb(250,250,250);
        font-size: 0.4rem;
        font-family: sans-serif;
        padding-right:3vw;

    }
.contact-me{
    	display: flex;
      flex-wrap: wrap;
      align-content:center;
      padding: 10vw;
       background-color: rgb(250,250,255);
       height:40vh;
       width:80vw;
       padding-top:20vw;
       font-size:1rem;
       color: orange;
    }
    

 @media screen and (max-width:415px){
             .info{
              	display: flex;
              	align-content: flex-end;
              	font-size:1.2rem;
              	margin: 0vw;
           margin-top:100vw;
         padding-left: 10vw;
        width: 2vw;
        height: 1vh;
       }
       .footer1{
       	display: flex;
           height:70vh;
           width: 100vw;
           padding-top: 10vw;
       }
              .image{
              	display: flex;
              	  box-shadow: 0px 1px 90px 0px rgb(250,250,250);
              	  padding: 10vw;
              	  margin: 10vw;
                  width: 20vw;
                  height: 7vh;

              }
              .copy{
                      display: flex;
                      font-size: 0.3rem;
                      color:rgb(255,255,255);
                     
                      padding-left:15vw;
                      padding-bottom:15vw;

              }
              .contact-me{
              	display: flex;
              	width: 100vw;
              	font-size:0.4rem;
              	height: 30vh;
              	padding-top:100vw;
              	padding-left: 4vw;
}

 }
         
   @media only screen and (min-width: 416px) and (max-width:580px){
     	
        .info{
              
                align-content: flex-end;
                font-size:1.8rem;
                margin: 0vw;
         padding-top:60vw;
         padding-left: 10vw;
        width: 2vw;
        height: 1vh;
        }

     	 .footer1{
     	 	display: flex;
       	   height:60vh;
       }
              .image{
              	display: flex;
              	  box-shadow: 0px 1px 90px 0px rgb(250,250,250);
              	  padding: 8vw;
              	  margin: 6vw;
                  width: 20vw;
                  height: 5vh;

              }
              .copy{
              	   
                      
                      display: flex;
                      font-size: 0.4rem;
                      color:rgb(255,255,255);
                     
                      padding-left:15vw;
                      padding-bottom:15vw;
              }
   
     
     .contact-me{
              	display: flex;
              	width: 100vw;
              	font-size:0.6rem;
              	height:40vh;
              	padding-top:30vw;
              	padding-left:6vw;
              }

}
 

    

